<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.confetti.rcp.newWizard">
      <newWizard
            factory="org.confetti.dataprovider.wizards.NewFETWizardFactory"
            name="FET">
      </newWizard>
   </extension>
   <extension
         point="org.confetti.rcp.openWizard">
      <openWizard
            factory="org.confetti.dataprovider.wizards.OpenXmlWizardFactory"
            name="FET">
      </openWizard>
   </extension>

</plugin>
