<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="openWizard" name="Open wizard" schema="schema/openWizard.exsd"/>
   <extension-point id="newWizard" name="New Wizard" schema="schema/newWizard.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.confetti.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="org.confetti.rcp.Perspective"
            id="org.confetti.rcp.defaultPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.InstituteView"
            icon="icons/University-16-fill.png"
            id="org.confetti.rcp.instituteView"
            name="Institute"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.SubjectsView"
            icon="icons/subject-16-fill.png"
            id="org.confetti.rcp.subjectsView"
            name="Subjects"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.TeachersView"
            icon="icons/teacher-16-fill.png"
            id="org.confetti.rcp.teachersView"
            name="Teachers"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.StudentGroupsView"
            icon="icons/studentgroup-16-fill.png"
            id="org.confetti.rcp.studentGroupsView"
            name="StudentGroups"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.RoomsView"
            icon="icons/room-16-fill.png"
            id="org.confetti.rcp.roomsView"
            name="Rooms"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.AssignmentsView"
            icon="icons/sample.gif"
            id="org.confetti.rcp.assignmentsView"
            name="Assignments"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.ConstraintsView"
            icon="icons/sample3.gif"
            id="org.confetti.rcp.constraintsView"
            name="Constraints"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.confetti.rcp.views.TimeTableView"
            icon="icons/sample3.gif"
            id="org.confetti.rcp.timeTableView"
            name="TimeTable"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Test 1"
            description="Test command 1"
            id="org.confetti.rcp.actions.test1">
      </command>
      <command
            name="Test 2"
            description="Test command 2"
            id="org.confetti.rcp.actions.test2">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.NewSubjectCommand"
            description="New Subject"
            id="org.confetti.rcp.commands.newSubjectCommand"
            name="New Subject">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.NewTeacherCommand"
            description="New Teacher"
            id="org.confetti.rcp.commands.newTeacherCommand"
            name="New Teacher">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.NewStudentGroupCommand"
            description="New Student Group"
            id="org.confetti.rcp.commands.newStudentGroupCommand"
            name="New Student Group">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.NewRoomCommand"
            description="New Room"
            id="org.confetti.rcp.commands.newRoomCommand"
            name="New Room">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.NewAssignmentCommand"
            description="New Assignment"
            id="org.confetti.rcp.commands.newAssignmentCommand"
            name="New Assignment">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.RenameEntityCommand"
            description="Rename Entity"
            id="org.confetti.rcp.renameEntityCommand"
            name="Rename Entity">
      </command>
      <command
            defaultHandler="org.confetti.rcp.commands.DeleteEntityCommand"
            description="Delete Entity"
            id="org.confetti.rcp.deleteEntityCommand"
            name="Delete Entity">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.confetti.rcp.application"
            name="Confetti">
         <property
               name="aboutImage"
               value="product_lg.gif"/>
         <property
               name="aboutText"
               value="RCP Tutorial 3&#x0A;Version 1.0.0&#x0A;by Ed Burnette&#x0A;&#x0A;For more information on Eclipse and the&#x0A;Rich Client Platform visit:&#x0A;http://www.eclipse.org&#x0A;&#x0A;Copyrights and other legal stuff goes here."/>
         <property
               name="appName"
               value="Confetti">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.confetti.rcp.subjectsView">
         <command
               commandId="org.confetti.rcp.commands.newSubjectCommand"
               icon="icons/sample2.gif"
               label="New Subject"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.confetti.rcp.teachersView">
         <command
               commandId="org.confetti.rcp.commands.newTeacherCommand"
               icon="icons/sample2.gif"
               label="New Teacher"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.confetti.rcp.studentGroupsView">
         <command
               commandId="org.confetti.rcp.commands.newStudentGroupCommand"
               icon="icons/sample2.gif"
               label="New Student Group"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.confetti.rcp.roomsView">
         <command
               commandId="org.confetti.rcp.commands.newRoomCommand"
               icon="icons/sample2.gif"
               label="New Room"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.confetti.rcp.assignmentsView">
         <command
               commandId="org.confetti.rcp.commands.newAssignmentCommand"
               icon="icons/sample2.gif"
               label="New Assignment"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.confetti.rcp.instituteView">
         <command
               commandId="org.confetti.rcp.renameEntityCommand"
               label="Rename"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.confetti.rcp.deleteEntityCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.confetti.core.Entity">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.confetti.rcp.subjectsView">
         <command
               commandId="org.confetti.rcp.renameEntityCommand"
               label="Rename"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.confetti.rcp.deleteEntityCommand"
               label="Delete"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.confetti.rcp.teachersView">
         <command
               commandId="org.confetti.rcp.renameEntityCommand"
               label="Rename"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.confetti.rcp.deleteEntityCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.confetti.core.Entity">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.confetti.rcp.studentGroupsView">
         <command
               commandId="org.confetti.rcp.renameEntityCommand"
               label="Rename"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.confetti.rcp.deleteEntityCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.confetti.core.Entity">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.confetti.rcp.roomsView">
         <command
               commandId="org.confetti.rcp.renameEntityCommand"
               label="Rename"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.confetti.core.Entity">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.confetti.rcp.deleteEntityCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.confetti.core.Entity">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
