<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.confetti.rcp.openWizard">
      <openWizard
            factory="org.confetti.dummy.openwizard.DummyOpenWizardFactory"
            name="Dummy">
      </openWizard>
   </extension>
   <extension
         point="org.confetti.rcp.newWizard">
      <newWizard
            factory="org.confetti.dummy.newwizard.DummyNewWizardFactory"
            name="Dummy">
      </newWizard>
   </extension>
</plugin>
