<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.confetti.rcp.openWizard">
      <openWizard
            name="Dummy"
            wizard="org.confetti.dummy.openwizard.DummyOpenWizard">
      </openWizard>
      <openWizard
            name="Yet Another Dummy"
            wizard="org.confetti.dummy.openwizard.YetAnotherDummyOpenWizard">
      </openWizard>
   </extension>
   <extension
         point="org.confetti.rcp.newWizard">
      <newWizard
            name="Dummy"
            wizard="org.confetti.dummy.newwizard.DummyNewWizard">
      </newWizard>
   </extension>
</plugin>
